@media screen and (max-width: 1280px) {
  .main_area {
    width: 555px;
  }
  .select_arts {
    width: 92px;
    height: 130px;
  }
}
@media screen and (min-width: 1280px) {
  .main_area {
    width: 1110px;
  }
  .select_arts {
    width: 92px;
    height: 130px;
  } 
}

div.frame {
  height: calc(100svh - 60px);
}

.troops {
  margin-top: 5px;
  margin-left: 3px;
  display: flex;
  width: 552px;
  background-color: black;
}

.selected {
  opacity : 1!important;
}

.select_arts {
  opacity : 0.3;
}