header {
  position: fixed;
  top: 0px;
  right: 0px;
  height: 50px;
  width: 100%;
  background-color: #149f14;
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .main_area {
    width: 414px;
  }
  .select_style {
    width: 46px;
    height: 46px;
  }
  .emblem {
    width: 46px;
    height: 46px;
  }
}
@media screen and (min-width:768px) {
  .main_area {
    width: 828px;
  }
  .select_style {
    width: 92px;
    height: 92px;
  } 
  .emblem {
    width: 92px;
    height: 92px;
  } 
}

main {
  position: fixed;
  top: 50px;
  bottom: 100px;
}

div.frame {
  height: calc(100svh - 175px);
}

.troops {
  margin-top: 10px;
  display: flex;
}

input[type="button"] {
  font-size: 20px;
  color: #fff;
  background: #149f14;
  border-radius: 100vh;
  height: 40px;
}

input[type="button"].btn_post {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: calc(120px + env(safe-area-inset-bottom));
}