@media screen and (max-width: 848px) {
  .main_area {
    width: 100%;
  }
  .select_style {
    width: 69px;
    height: 69px;
  }
  .emblem {
    width: 69px;
    height: 69px;
  }
}
@media screen and (min-width: 848px) {
  .main_area {
    width: 828px;
  }
  .select_style {
    width: 92px;
    height: 92px;
  } 
  .emblem {
    width: 92px;
    height: 92px;
  } 
}

div.frame {
  height: calc(100svh - 195px);
}

.troops {
  margin-top: 10px;
  display: flex;
}

input[type="button"].default {
  font-size: 16px;
  color: #fff;
  background: #149f14;
  border-radius: 100vh;
  height: 26px;
}

input[type="button"].btn_post {
  font-size: 20px;
  width: 200px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: calc(120px + env(safe-area-inset-bottom));
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  display: none;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 80%;
  max-height: calc(100svh - 235px);
  overflow: auto;
}

