/* PCのみ表示 */
.display_pc_only {
    display: block;
}
/* スマートフォンのみ表示 */
.display_sp_only {
    display: none;
}
@media screen and (max-width: 768px) {
    .display_pc_only {
        display: none;
    }
    .display_sp_only {
        display: block;
    }
}
