div.frame {
  height: calc(100svh - 75px);
}

select {
  border: solid 1px #000;
}

.top_flex {
  display: flex;
}
@media screen and (max-width:1024px) {
  .top_flex {
    display: block;
  }
}
.container {
  display: flex;
  justify-content: space-between;
}

td, th {
  font-size: 13px;
}


@media screen and (max-width:1024px) {
  .htMiddle {
    font-size: 10px;
  }
}
.handsontable th {
  background-color: #afff60!important;
  border-color: #149f14;
}

td.limit_0 {
  background-color: #fff;
}
td.limit_1 {
  background-color: #9eff9e;
}
td.limit_2 {
  background-color: #9eceff;
}
td.limit_3 {
  background-color: #ffce9e;
}
td.limit_4 {
  background-color: #ffa3a3;
}

tr:has(.underLine) > td {
  border-bottom: double #000;
}
td.rightLine {
  border-right: double #000;
}
.handsontable td:first-of-type {
  border-left: double #000!important;
}
.handsontable .htDimmed {
  color: #000!important;
}
td {
  white-space: nowrap!important;
}

input[type="button"].default {
  font-size: 16px;
  height: 26px;
}