/* ---------------------------- */
/* --- ModalSection --- */
/* ---------------------------- */
.container_style {
  border-top: 5px solid #5bc8ac;
  max-width: 600px;
  height: 90%;
  overflow-y: hidden;
}

.container_damage {
  background-color: #fff;
  padding: 30px;
  max-width: 500px;
  max-height: calc(100svh - 50px);
  border-radius: 20px;
  overflow-y: auto;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .modal_layer_mask {
    height: 150vh;
  }
  .container_style {
    height: calc(100svh - 100px);
  }
}
.modal_section {
  background: #fff;
  height: 100%;
}
.modal_inner {
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  height: 100%;
  max-width: 600px;
  width: 80vw;
}
.modal_inner_headline {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.search_result_area {
  height: calc(100% - 190px);
  overflow-y: scroll;
}

input.role {
  width: 80px;
  font-size: 14px;
  color: #fff;
  background: #7f7fff;
  border-radius: 10vh;
  margin: 2px;
}
input.role:hover {
  background: #b1b1f5;
}

hr.line {
  height: 5px;
  background-color: #888;
  width: 100%;
  border: none;
  margin-top: 5px;
  margin-bottom: 5px;
}  

.troops {
  font-size: 24px;
  font-weight: bold;
  margin-top: 5px;
  display: flex;
}
.narrow_area {
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.select_style_list {
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .select_style_list {
    width: 48px;
    height: 48px;
  }
  .emblem {
    width: 48px;
    height: 48px;
  }
  input[type='image'].narrow {
    width: 32px;
    height: 32px;
  }
  input.remove_btn {
    width: 50px;
    height: 40px;
    line-height: 28px;
    font-size: 1rem;
    border-radius: 100vh;
  }
  input.role {
    width: 60px;
    font-size: 10px;
    border-radius: 8vh;
  }
  .narrow_element {
    width: 300px;
  }
  .rarity {
    width: 32px;
    height: 32px;
  }
}
@media screen and (min-width:768px) {
  .select_style_list {
    width: 64px;
    height: 64px;
  }
  .emblem {
    width: 64px;
    height: 64px;
  }
  input[type='image'].narrow {
    width: 48px;
    height: 48px;
  }
  input.remove_btn {
    width: 100px;
    font-size: 20px;
    border-radius: 100vh;
  }  
  .narrow_element {
    width: 480px;
  }
  .rarity {
    width: 48px;
    height: 48px;
  }
}
