/* 全体 */
div.frame {
    height: calc(100svh - 60px);
}

.display_area {
    width: 450px;
    font-size: 0.875rem;
}

.adjust_width {
    width: 450px;
}

@media screen and (max-width: 768px) {}

select {
    border: solid 1px #000;
    height: 21px;
}

/* 部隊/ステータス */
input.troops_btn {
    width: 40px;
    height: 40px;
    font-size: 25px;
    color: #fff;
    border-radius: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    box-shadow: 0 6px 0 0 #005400;
    transform: translateY(-6px);
}

input.troops_btn:hover {
    box-shadow: 0 2px 0 0 #005400;
    transform: translateY(-2px);
}

input.troops_btn.selected_troops {
    box-shadow: 0 2px 0 0 #005400;
    transform: translateY(-2px);
}

#style_reset_btn {
    width: 50px;
    font-size: 12px;
}

/* ステータスエリア */
#char_list {
    width: 482px;
}

img.select_style {
    width: 64px;
    height: 64px;
    margin-left: 4px;
}

.label_status {
    line-height: 22px;
    display: block;
}

.limit,
.earring,
.bracelet,
.chain,
.init_sp {
    height: 22px;
    width: 60px;
    margin-left: 3px;
    text-align: center;
}
.init_sp {
    border: #000 1px solid;
}

.limit:disabled {
    border: solid 1px black;
}

@media screen and (max-width: 482px) {
    .display_area {
        width: 400px;
    }

    #char_list {
        width: 400px;
    }

    .adjust_width {
        width: 100%;
        max-width: 400px;
        min-width: 375px;
    }

    .limit,
    .earring,
    .bracelet,
    .chain {
        width: 50px;
    }
}

/* 戦闘開始 */
.battle_start {
    width: 80px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.1s ease;
}

/* 敵情報 */
.surround_area {
    border: solid gray 2px;
    border-radius: 20px;
    padding: 5px;

}

.enemy_weak {
    font-weight: bold;
    color: red;
}

.enemy_resist {
    font-weight: bold;
    color: blue;
}

.enemy_type_icon {
    width: 32px;
    height: 32px;
    margin-top: 4px;
    margin-left: 5px;
    margin-bottom: -8px;
}

.enemy_type_value {
    text-align: center;
    width: 32px;
    background-color: rgba(0, 0, 0, 0);
    margin-left: 5px;
}

.enemy_input {
    border: #000 solid 1px;
}

/* 補助入力 */
.step_od_gauge {
    text-align: right;
    border: #000 solid 1px;
    height: 25px;
}

.step_sp {
    width: 40px;
    text-align: right;
    border: #000 solid 1px;
    height: 25px;
}

/* バトルエリア */
#battle_area {
    width: 1125px;
    margin: 5px auto 20px auto;
}

.turn_button {
    width: 80px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.1s ease;
}

.turn {
    border: solid gray 2px;
    border-radius: 20px;
    margin-top: 5px;
    padding: 0px 5px 5px 5px;
    display: flex;
}

.party_member {
    display: flex;
}

@media screen and (max-width: 768px) {
    #battle_area {
        width: 400px;
        margin: auto;
    }

    .turn {
        display: block;
    }

    .party_member {
        display: block;
    }
}

.header_area {
    width: 375px;
    display: flex;
    justify-content: space-between;
}

.turn_number {
    font-size: 18px;
    font-weight: bold;
}

.left {
    flex: 1;
}

.right {
    flex: 1;
}

.enemy_icon {
    width: 36px;
    height: 36px;
}

.inc_od_icon {
    width: 61px;
    margin-left: -3px;
}

.od_icon {
    width: 61px;
    height: 48px;
}

.od_number {
    width: 48px;
    height: 48px;
    margin-top: -48px;
    margin-left: 11px;
}

.od_text {
    padding-top: 11px;
    font-size: 14px;
}

.unit_selected {
    background-color: #FF0;
}

.front_area .unit_skill {
    font-size: 12px;
    width: 125px;
}

.back_area .unit_skill {
    font-size: 12px;
    width: 72px;
}

.action_select {
    margin-top: 10px;
    font-size: 12px;
    width: 120px;
}

.unit_sp {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 10px #000,
        -2px 2px 10px #000,
        2px -2px 10px #000,
        -2px -2px 10px #000;
    margin-top: -56px;
    text-align: right;
    pointer-events: none;
}

.unit_sp.minus {
    text-shadow: 2px 2px 10px #f00,
        -2px 2px 10px #f00,
        2px -2px 10px #f00,
        -2px -2px 10px #f00;
}

.front_area,
.back_area {
    height: 70px;
}

.front_area .unit_sp {
    /* margin-right: 60px; */
}

.back_area .unit_sp {
    margin-right: 8px;
}

img.unit_style {
    width: 48px;
    height: 48px;
}

img.unit_buff {
    width: 24px;
    height: 24px;
}

.back_area .icon_list {
    display: none;
}

.icon_list {
    width: 72px;
}

.enemy_icon_list {
    width: 120px;
}

input[type='image'].select_target {
    width: 64px;
    height: 64px;
    margin-left: 1px;
}

.hidden-option {
    display: none;
}

/* アイコンスクロール */
.scroll-container {
    overflow: hidden;
    white-space: nowrap;
    display: flex;
}

.scroll-content {
    display: flex;
}


/* モーダル画面*/
.modal_label {
    font-size: 20px;
    font-weight: bold;
}

.select_effect {
    display: none;
}

.select_effect.active {
    display: block;
    text-align: center;
}

.effect_button {
    width: 150px;
    font-size: 16px;
}

.icon_buff_detail {
    width: 40px;
    height: 40px;
}

.detail_line_height {
    line-height: 1.2;
}