select {
  border: solid 1px #000;
}

.select_info {
  margin-left: 10px;
}

.top_flex {
  display: flex;
}

.container {
  display: flex;
  justify-content: space-between;
}

td, th {
  font-size: 13px;
}

@media screen and (max-width:1024px) {
  .container {
    display: block;
  }
  .htMiddle {
    font-size: 10px;
  }
}
.handsontable th,
.handsontable th:last-child {
  background-color: #afff60!important;
  border-color: #149f14;
}

.ht_master:not(.innerBorderTop)~.handsontable thead tr:last-child th {
  border-bottom-width: 1px;
}

.handsontable .handsontable.ht_clone_top .wtHider {
  padding: 0px;
}

.handsontable thead th .relative:has(img) {
  padding: 0px 1px!important;
}

img {
  margin-bottom: -5px;
}

tr:has(.underLine) > td {
  border-bottom: double #000;
}
td.rightLine {
  border-right: double #000;
}
.handsontable td:first-of-type {
  border-left: double #000!important;
}
.handsontable .htDimmed {
  color: #000!important;
}
td {
  white-space: nowrap!important;
}

input[type="button"].default {
  font-size: 16px;
  height: 26px;
}

td.achievement1 {
  background-color: #dbffdb;
}

td.achievement2 {
  background-color: #8effc6;
}

td.achievement3 {
  background-color: #99ffcc;
}

td.achievement4 {
  background-color: #9eceff;
}

td.achievement5 {
  background-color: #FFEB66;
}

td.achievement6 {
  background-color: #ffce9e;
}

td.achievement7 {
  background-color: #ffa3a3;
}
