@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-feature-settings: "palt";
    }
    body {
        @apply font-sans text-[0.9rem];
    }
}

.index-page {
    height: calc(100svh - 120px);
}

@media screen and (max-width: 848px) {
    .index-page {
        height: calc(100svh - 160px);
    }
}